In [2]:
import pandas as pd
import pandas_profiling
import numpy as np

In [20]:
dfs = []

for x in range(ord('A'), ord('Z')+1):
    dfs.append(pd.read_csv(f'data-02-option_data.{chr(x)}.csv'))

df = pd.concat(dfs)
df = df[['symbol']]
df['first'] = df.symbol.str[:1]

In [21]:
df.head(n=4)

  symbol first
0   AAOI     A
1   AAOI     A
2   AAOI     A
3   AAOI     A

In [30]:
dfg = df.groupby('first').count()
dfg.sort_values(['symbol'], ascending=False, inplace=True)
dfg.head(n=30)

       symbol
first
A        4157
C        3761
S        3448
M        2077
G        2004
P        2004
T        1943
F        1773
R        1651
N        1600
H        1589
B        1395
L        1315
I        1307
V        1236
E        1141
D         964
K         810
O         791
U         562
W         425
Z         361
X         229
J         180
Q         180
Y         131